<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funstudy</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <nav class="nav" id="nav">
      <a class="logo-text">Funstudy</a>
    </nav>
    <div class="container">
      <div class="top">
        <div class="banner" id="banner">
          <h1>Welcome to Funstudy.</h1>
          <p>
            Your own space to organise and make learning fun. Use Funstudy as
            your best companion to keep track of your daily, monthly and yearly
            learning pursuits.
          </p>
        </div>
        <div class="links">
          <ul>
            <li>
              <a href="/login">
                <button class="btn">Login</button>
              </a>
            </li>
            <li>
              <a href="/signup">
                <button class="btn">Signup</button>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="features-container">
        <div class="features">
          <div class="feature" id="feature1">
            <div class="feature-img"></div>
            <div class="feature-description">
              <h3>Why use Funstudy?</h3>
              <p>
                This is a free site to access and excel in academics. Funstudy
                motivates you and makes you a complete 21st learner.
              </p>
            </div>
          </div>
          <div class="feature" id="feature2">
            <div class="feature-img"></div>
            <div class="feature-description">
              <h3>Learn with curated courses</h3>
              <p>
                Spend your time with our varied options of courses available.
              </p>
            </div>
          </div>
          <div class="feature last-feature" id="feature3">
            <div class="feature-img"></div>
            <div class="feature-description">
              <h3>Dashboard for managing tasks</h3>
              <p>
                User friendly TO-DO List and Task Manager to organise your
                schedule efficiently.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer" id="footer">
      <p>&copy;&ensp;Aman Swarnakar 2022</p>
    </footer>
  </body>
</html>
